#title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 微軟正黑體;
}
body {

    background-image: url("../img/白色大理石2.jpg");
    font-family: 微軟正黑體;

}
header {
    background-color: lightsteelblue;

}
nav {
    color: white;
    text-align: center;
    background-color: lightsteelblue;}
a {
    text-decoration: none;
    color: white;
    font-size: 28px;
}
table {

    width: 100%;
    height: 610px;
    background: white;
}
#center {
    position: absolute;
    z-index: 10;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
h1 {
    margin: 20px 450px;
    padding: 25px 15px;
    border: #6bf4b6;
    background: rgb(153, 142, 153);
    border-radius: 30px;
    text-align: center;
    z-index: 10000;
}
#a {
    position: absolute;
    top: 840px;
    z-index: 266;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 55px;

}
#s {
    padding: 15px 190px 170px 60px;
    margin: 15px 4.3px 10px 100px;
    background-image: url("../img/大理石背景.jpg");
    border: solid black;
    position: absolute;
    z-index: 1000;
    border-radius: 18px;

}
.button {
    width: 800px;
    text-indent: -30px;
    margin-top: 40px;
    color: rgb(20, 20, 20);
    font-size: 3em;
    position: absolute;
    z-index: 100;

}
.button:hover .hover {
    display: block;
}
.hover {
    display: none;
    background-image: url("../img/大理石.jpg");
    border: 1px solid black;
    position: absolute;
    left: -60px;
    top: 180px;
    z-index: 1000000;
    border-radius: 15px;
    width: 1280px;
    height: 400px;
    margin-right: 100px;
    font-size: 32px;
}
#skill {
    background-image: url("../img/大理石2.jpg");
    border: 1px solid black;
    position: absolute;
    z-index: 10000000000;
    border-radius: 15px;
    width: 630px;
    height: 400px;

    font-size: 20px;
    margin-top: 800px;
    margin-left: 750px;
    padding-bottom: 200px;
    text-align: left;
}

.container {
    width: 80%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
}

.html {
    width: 85%;
    background-color: #04AA6D;

}
.css {
    width: 80%;
    background-color: #2196F3;
}
.js {
    width: 60%;
    background-color: #f44336;
}
.c {
    width: 30%;
    background-color: #808080;
}
.會計 {
    width: 90%;
    background-color: #04AA6D;

}
.經濟 {
    width: 80%;
    background-color: #2196F3;
}
.統計 {
    width: 45%;
    background-color: #f44336;
}
.企概 {
    width: 30%;
    background-color: #808080;
}
#demo1 {
    width: 600px;
    height: 500px;
    background-image: url("../img/大理石3.jpg");
    margin: 10px;
    display: inline-block;
    text-align: center;
    margin-left: 450px;
    border: 1px solid black;

}
button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: lightgray;
}
#box {
    padding: 60px 10px 950px 900px;
    margin-left: 285px;
    margin-right: 500px;
    background-image: url("../img/大理石6.jpg");
    position: absolute;
    z-index: 10;
    border-radius: 15px;
}
#class {
    columns: 2;
    position: absolute;
    z-index: 50;
    margin-left: -800px;
}
#boxs {
    padding: 95px 145px;
    background-image: url(../img/大理石4.jpg);
    position: absolute;
    z-index: 15;
    border-radius: 15px;
}
#end{

    position: absolute;
    z-index: 100;
    font-size: 32px;
}
#dot{
    font-size:  150px;
    position: absolute;
    z-index: 10000000000000;
    margin-left:741px;
}
#back{
    position: fixed;
    z-index: 252222222222222222222222;
    margin-left: 1400px;
    margin-top: 650px;
}
